html, body {
    height:100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    font-weight: 400;
    color: white;
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0.4);
    height: 72px;
}

.container {
    background-color: rgba(26, 30, 35, 1.0);
    background-image: url(img/ragemas_img_bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.brand {
    display: block;
    position: absolute;
    width: 184px;
    height: 72px;
    margin: 0;
    padding: 0;
}
.brand img {
    margin-left: 32px;
    margin-top: 18px;
}

.nav {
    float:right;
    margin: 0;
}
.nav li {
    display: inline;
}
.nav li a {
    line-height: 72px;
    padding-left: 20px;
    padding-right: 20px;
}

.col60 {
    width: 60%;
    float: left;
}
.col40 {
    width: 40%;
    float: right;
}

.row{
    clear: both;
}
    
.tagline {
    display: block;
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
}

.container-promo {
    width: 320px;
    margin-top: 132px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.promo {
    font-size: 13pt;
    margin-bottom: .5em;
}

.headliner {
    font-size: 26pt;
}

.awesomesauce {
    margin-top: 20px;
    font-size: 13pt;
    line-height: 36px;
    text-align: left;
    list-style-image: url('img/ragemas_img_type_bullet.svg');
    margin-left: 36px;
    padding-left: 10px;
}

.awesomesauce li {
    padding-left: 10px;
}

.details {
    font-size: 10pt;
    text-align: left;
    margin-top: 48px;
    margin-bottom: 32px;
    line-height: 20px;
}

.details img {
    float: left;
    margin: 0 32px;
}

.details:after {
    clear: both;
}

.btn-join {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  cursor: pointer;
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-join:hover,
.btn-join:focus,
.btn-join:active,
.btn-join.active,
.btn-join.disabled,
.btn-join[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-join:active,
.btn-join.active {
  background-color: #408140 \9;
}

.btn-join:first-child {
  *margin-left: 0;
}

.btn-join:hover,
.btn-join:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}


/*

ul.nav {
    display: block;
    width: 100%;
    height: 72px;
    float: right;
}
ul.nav li {
    display: block;
    line-height: 72px;
}
*/
