html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(26, 30, 35, 1.0);
    background-image: url(img/ragemas_img_bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: "Raleway";
    font-weight: 400;
    color: white;
}

a:link {
    color: lightgrey;
    text-decoration: none;
}
a:visited {
    color: lightgrey;
}
a:hover {
    color: white;
}
a:active {
    color: white;
}

.top-bar {
    background-color: rgba(0, 0, 0, 0.4);
    height: 72px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:72px;
    width: 100%;
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0.4);
    height: 72px;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.brand {
    display: block;
    position: absolute;
    width: 184px;
    height: 72px;
    margin: 0;
    padding: 0;
}
.brand img {
    margin-left: 32px;
    margin-top: 18px;
}

.tag-wrapper {
    padding-left: 88px;
    padding-top: 88px;
}
    
.tagline {
}

.details {
    font-size: 10pt;
    text-align: right;
}

.details ul, .details img {
    float: right;
}
.details img {
    margin-left: 30px;
}

.footer {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 20px;
}

.footer p {
    color: lightgrey;
    padding-bottom: 20px;
}

#cta {
	position: absolute;
	bottom: 8px;
	right: 62px;
	z-index: 10;
	cursor: pointer;
	opacity: 0.81;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
#cta:hover {
	opacity: 1;
}

#cta-pin {
	position: absolute;
	bottom: 100px;
	right: 103px;
	z-index: 1;
}

@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 510px) {
}


/*

ul.nav {
    display: block;
    width: 100%;
    height: 72px;
    float: right;
}
ul.nav li {
    display: block;
    line-height: 72px;
}
*/
